<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @product.name %>
</p>

<p>
  <b>Descrição:</b>
  <%= @product.description %>
</p>

<p>
  <b>Quantidade:</b>
  <%= @product.qtd %>
</p>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
